<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/data-handler.js"></script>
    <script type="text/javascript" src="../static/js/api-test.js"></script>

    <title>Cloud Data Display</title>
   

</head>
<body>
  <div><br>
    <button type="button" class="btn btn-outline-primary" id="refresh">Refresh</button>
  </br>
  </div>
  <div id = "table-responsive">
    <table id = "list" cellspacing = "10px" cellpadding = "50px" text-align = "center" class="table" style="font-size:1.5em;">
        <tbody id ="tbody">
          <tr></tr>
        </tbody>
    </table>
</div>

<div>
  <input type="text" id="test">
  <button type="button" class="btn btn-outline-primary" id="test-btn">Test</button>

</div>
</body>
</html>