<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/activity-handler.js"></script>
    <script type="text/javascript" src="../static/js/data-handler.js"></script>
    <title>AWS Instance Generator</title>
    <script>
function show_value() {
    var x = document.getElementById("master_password");
    if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

</head>
<body>
This website helps to create aws instances easily
<div>

     <label for="instances">Choose a instance type:</label>
        <select name="instance" id="inst">
          <option value="s3">S3</option>
          <option value="ec2">EC2</option>
          <option value="rds">RDS</option>
          <option value="vpc">VPC</option>
        </select>
</div>
<div>

    <label for="regions">Choose a region:</label>
        <select name="region" id="regions">
          <option value="us-east-1">US East N. Virginia</option>
          <option value="us-east-2">US East Ohio</option>
          <option value="us-west-1">US West N. California</option>
          <option value="us-west-2">US West Oregon</option>
          <option value="apc-east-1">Asia Pacific Hong Kong</option>
          <option value="apc-south-1">Asia Pacific Mumbai</option>
          <option value="apc-northeast-2">Asia Pacific Seoul</option>
          <option value="apc-southeast-1">Asia Pacific Singapore</option>
        </select>
</div>
<div>
    <label for="acki">AWS Access Key ID: </label><input type="text" id="acki" required></br>
    <label for="asak">AWS Secret Access Key: </label><input type="text" id="asak" required></br>
</div>

<div id="s3_section" hidden>
<br>
    <label for="s3_name">S3 Bucket Name: </label><input type="text" id="s3_name" placeholder="S3 Bucket Name"></br>
    <label for="acl">Choose a ACL for S3 Bucket:</label>
        <select name="acl_policy" id="acl">
          <option value="private">Private</option>
          <option value="public-read">Public Read</option>
          <option value="public-read-write">Public Read Write</option>
            <option value="authenticated-read">Authenticated Read</option>
        </select></br>
        <input type="button" value="Create" id="s3_create">

</div>

<div id="ec2_section" hidden>
    <label for="ec2_imageid">Choose an Image for EC2 (only x86 64bit):</label>
        <select name="ec2_image" id="ec2_imageid">
          <option value="ami-089c6f2e3866f0f14">Amazon Linux 2 AMI</option>
          <option value="ami-03d64741867e7bb94">Red Hat Enterprise Linux 8 (HVM)</option>
          <option value="ami-08962a4068733a2b6">Ubuntu Server 20.04 LTS (HVM)</option>
          <option value="ami-0db6a09e9ade44bb3">Microsoft Windows Server 2019 Base</option>
        </select></br>

    <label for="instancetype">Choose Instance Type for EC2:</label>
        <select name="ec2_instance" id="instancetype">
          <option value="t1.micro">t1.micro</option>
          <option value="t2.nano">t2.nano</option>
          <option value="t2.micro">t2.micro</option>
          <option value="t2.small">t2.small</option>
          <option value="t2.medium">t2.medium</option>
          <option value="t2.large">t2.large</option>
          <option value="t2.xlarge">t2.xlarge</option>
          <option value="t2.2xlarge">t2.2xlarge</option>
         </select></br>
    <input type="button" value="Create" id="ec2_create">
</div>

<div id="rds_section" hidden>
    <label>Database Instance Identifier (Must small letter and no special character)</label>
    <input type="text" id="db_instance_identifier"></br>

        <label for="db_instance_class">Choose Storage Type for RDS:</label>
        <select name="rds_instance_class" id="db_instance_class">
          <option value="db.t2.micro">db.t2.micro</option>
        </select></br>

    <label>Database Name:</label>
    <input type="text" id="db_name"></br>

<label for="engine_name">Choose Engine Type for RDS:</label>
        <select name="rds_engine" id="engine_name">
          <option value="mysql">MySql</option>
          <option value="mariadb">MariaDB</option>
          <option value="postgres">Postgres</option>
          <option value="aurora">Aurora</option>
          <option value="oracle-se">oracle-se</option>
        </select></br>

    <label>master username</label>
    <input type="text" id="master_username"></br>
    <label>master password</label>
    <input type="password" id="master_password">
    <input type="checkbox" onclick="show_value()">Show Password</br>

        <label for="storagetype">Choose Storage Type for RDS:</label>
        <select name="rds_storage" id="storagetype">
          <option value="standard">standard</option>
          <option value="gp2">gp2</option>
        </select></br>

        <label for="allocated_storage">Allocated Storage:</label>
    <input type="number" id="allocated_storage" name="storage" min="20" max="16384"></br>
    <input type="button" value="Create" id="rds_create">

</div>

<div id = "table-responsive">
        <table id = "list" cellspacing = "10px" cellpadding = "50px" text-align = "center" class="table" style="font-size:1.5em;">
            <tbody id ="tbody">
              <tr></tr>
            </tbody>
        </table>
</div>
</body>
</html>