<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/data-handler.js"></script>
    <script type="text/javascript" src="../static/js/api-test.js"></script>

    <title>Cloud Data Display</title>
   

</head>
<body>
    <div style="margin-top: 20%; margin-left: 20%; margin-bottom: 20%;">
    <iframe src="http://localhost:3000/d-solo/J3Sto8W7z/new-dashboard-copy?orgId=1&var-query0=1&refresh=5s&from=1627450128035&to=1627450428035&panelId=2" width="500" height="400" frameborder="0"></iframe>
    </div>
</body>
</html>